
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


/* Nav-Menu and Header Section */

.container-fluid.nav-bar-top{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    background-color: #C9CCCE;
}

.list-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    width: 100%;
    margin: 0;
}

.links-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
}

.lang-sc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.list-links li a{
    text-decoration: none;
    color: #363638;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 0.9em;
}

.btn-search{
    padding: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.btn-user{
    padding: 10px;
    width: 30px;
    height: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.form-select.select-lang{
    width: 100px;
    background-color: #C9CCCE;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.form-select.select-lang option{
    background-color: #C9CCCE;
    font-weight: 700;
}

.box-logo-hd-sc{
    width: 50px;
    height: 50px;
    padding: 2px;
}

.navbar-nav li a{
    font-weight: 700;
}

.container-navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    gap: 9px;
    font-weight: 900;
    margin-right: 20px;
}

.container-navbar h3{
    margin: 0;
    font-weight: 990;
    color: #2C5DBF;
}

.navbar.navbar-expand-lg{
    background-color: #f2f2f2;
}

.navbar-toggler.ham-icon{
    border: none;
}

.navbar-toggler.ham-icon:focus{
    box-shadow: none;
}

@media (min-width:310px) and (max-width:1005px) {
    .links-nav{
        display: none;
    }

    .list-links{
        justify-content: flex-end;
    }

    .btn-user{
        display: flex;
    }
}

.alert-sc{
    overflow: hidden;
}

.alert-sc .container-alert{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 7px;
    gap: 10px;
    width: 100%;
}

.alert-sc .container-alert a{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #BF1F1F;
}

.alert-sc .container-alert p{
    margin: 0;
    width: 500px;
}

/* Carrosell Section */

.carousel-sc{
    width: 100%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.carosel-txt{
    font-weight: 800;
    font-size: 1.9em;
}

.carosel-txt.par{
    font-weight: 500;
    font-size: 1em;
}

/* Ticket Section */

.title-ticket-sc{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.title-ticket-sc h4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    padding: 3px;
    font-weight: 800;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #BF1F1F;
}

.title-ticket-sc a{
    text-decoration: underline;
    color: #363638;
    text-transform: capitalize;
    font-size: 1em;
}

/* Ticket Form */

.ticket-section{
    padding: 10px;
}

.form-box{
    background-color: #C9CCCE;
}

.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 19px;
}

.option-sc{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#input-name, #input-km{
    width: 500px;
    padding: 10px;
    border: none;
    text-align: left;
    text-transform: capitalize;
    font-weight: 700;
}

#input-select-gender{
    width: 300px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: 700;
}

#input-select-gender, #input-name, #input-km:focus{
    border: none;
    outline: none;
}

.inp-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
}

.inp-sec i{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #BF1F1F;
    flex-direction: row;
}

.option-sc.req{
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.option-sc.req p{
    margin: 0;
}

.option-sc.req .cont-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.option-sc.req .cont-btn button{
    width: 300px;
    padding: 8px;
    border: none;
    background-color: #BF1F1F;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 10px;
}

.option-sc.req .cont-btn button:active{
    background-color: #8e0c0c;
}

@media (min-width: 310px) and (max-width: 809px) {

    .form{
        padding: 24px;
    }

    #input-name, #input-km{
        width: 100%;
    }

    .option-sc{
        flex-direction: column;
    }

    .option-sc.req .cont-btn button{
        width: 50%;
    }

    #input-select-gender{
        width: 60%;
    }
}