/* CSS di Struttura della pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-sc{
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.form{
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.option-sc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.option-sc input[type = "text"], .option-sc input[type = "number"], .option-sc select{
    padding: 6px;
}

.option-sc input[type = "button"], button{
    padding: 5px;
    cursor: pointer;
}

#bottom-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.ticket-sc{
    border: 2px solid black;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background-color: gray;
    color: white;
}

.info-ticket{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.text-bottom{
    display: flex;
    width: 100%;
    text-transform: capitalize;
    align-items: center;
    padding: 10px;
    font-weight: 900;
    justify-content: center;
}

.ticket-sc.none, .text-bottom.none{
    display: none;
}
